<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Certifications</h2>
    <div class="item">
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="86401a82-c59f-4e51-8990-1e38d9f0c7ae" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>

        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="6de503fa-c67f-4a61-9a0f-f4416c4609ee" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="ef913a8e-4b9b-4036-bb79-aee1cd516cf1" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>

        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="2836d349-e0a7-4867-93fa-544cf7067e1f" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>

        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="0cc01680-fdb2-44cc-83f2-d6d33722969b" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
    </div><!--//item-->
</section><!--//section-->
